<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="spolty.framework" type="Spolty.Framework.ConfigurationSections.SpoltyFrameworkSectionHandler, Spolty.Framework" />
	</configSections>
	<connectionStrings  configSource="connections.config"/>
	<spolty.framework>
		<factories>
			<add name="Linq" type="Spolty.Framework.ExpressionMakers.Factories.LinqExpressionMakerFactory, Spolty.Framework"/>
      <add name="EntityFramework" type="Spolty.Framework.ExpressionMakers.Factories.EntityFrameworkExpressionMakerFactory, Spolty.Framework"/>
    </factories>
	</spolty.framework>
</configuration>