<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="NorthwindConnectionString"
            connectionString="Data Source=spolty;Initial Catalog=Northwind;Persist Security Info=True;User ID=sa;Password=intertop"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>